.footer {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 3rem;
}
.footer__title {
    display: flex;
    color: #7e7a7a;
    font-weight: 400;
    font-size: 1.25rem;
    align-items: center;
    padding: 1.5rem;
}
.footer__description {
    display: flex;
    font-size: 1.5rem;
    margin-left: 5rem;
    color: #7e7a7a;
}
.footer__list {
    display: flex;
}
.footer__item {
    list-style: none;
}
.footer__icon {
    margin-right: 1.25rem;
}